<div id="main">
  
    <div id = "horizontal">
      <app-classes class="componentSize" [valor]="classes" (eventoEnviar)="selecionarClasse($event)"></app-classes>
      <app-objetos class="componentSize" [valor]="objetos" (eventoEnviar)="selecionarObjeto($event)"></app-objetos>
      <app-propriedades class="componentSize" [valor]="propriedades" (eventoEnviar)="selecionarPropriedade($event)"></app-propriedades>
      <app-valor-propriedade class="componentSize" [valor]="valorPropriedade" ></app-valor-propriedade>
    </div>
  
    <img [ngClass]="{
      'botao-carrinho-enabled': objetoAtual!=='', 
      'botao-carrinho-disabled': objetoAtual===''}" 
    src="./assets/botao_carrinho.jpg" alt="botao_para_carrinho" (click)="comprar()">
  
    <app-carrinho class="carrinho" [valor]="listaCarrinho"></app-carrinho>
  </div>
  