<div class="header">
  <h1>Carrinho de compras</h1>
  <h3 (click)="desmarcarTodos()" >Desmarcar todos os itens</h3>
</div>

<div *ngFor="let item of listaItens()">
  
  <div class="borda">
    <app-item 
      (eventoQuantidade)="recebendoQuantidade($event)" 
      (eventoMarcado)="recebendoMarcacao($event)"
      [itemRecebido] = item
    ></app-item>
  </div>

    <br><br><br>
</div>

<div class="footer">
  Quantidade de itens: {{subQuantidade()}} <br>
  Subtotal: R${{subTotal()}} <br>
</div>
