#main{
    display: flex;
    flex-direction: column;
    height: 800px;
    background-color: white;
    
    border: solid black;
    border-radius: 40px;

    align-items: center;
    margin-top: 20px;
}

#horizontal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 95%;
    height: 420px;
    margin-top: 20px;

    border: solid black;
    border-radius: 40px;
}

.componentSize{
    width: 200px;
    margin-right: 10px;
}

.botao-carrinho-disabled{
    width: 50px;
    height: auto;

    filter: grayscale(100%) brightness(50%);

    margin-top: 15px;
    transition-duration: 0.2s;
}

.botao-carrinho-enabled{
    width: 50px;
    height: auto;

    cursor: pointer;
    filter: grayscale(0%) brightness(100%);

    margin-top: 15px;
    transition-duration: 0.2s;
}

.botao-carrinho-enabled:hover{
    scale: 1.1;
}

.carrinho{
    width: 95%;
    height: 200px;
    margin-top: 15px;
    
    border: solid black;
    border-radius: 40px;
}