.container-destinos{
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1199px) {
    .container-destinos {
        flex-direction: column;
    }
}

.roteiros-viagens{
    background-color:rgb(216, 200, 252);
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    height: 390px;
}

@media (max-width: 1349px) and (min-width: 1200px){
    .roteiros-viagens{
        width: 14.7%
    }
}

.roteiro-destino{
    font-weight: bolder;
    font-size:x-large;
    color: purple;
    text-align: center;
}

.postal{
    height: 130px;
    width: 100%;
}

.roteiro-incluso{
    font-size: larger;
    color: darkslateblue;
}

.roteiro-preco{
    font-size:xx-large;
    color: purple;
    text-align: center;
    font-family: 'Vina Sans', sans-serif;
}

.roteiro-obs{
    font-weight: bolder;
    font-size:smaller;
    color: darkslateblue;
    text-align: center
}

.roteiro-parcelamento{
    font-weight: bolder;
    font-size:small;
    color: darkslateblue;
    text-align: center
}

.roteiro-comprar{
    color: white;
    background-color: limegreen;
    border-color: rgba(0,0,0,0);
    border-radius: 10px;
    width: 100px;
    height: 40px;
    display: block;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    transition-duration: 0.25s;
    box-shadow: 5px 5px 5px grey;
}

.roteiro-comprar:hover{
    background-color: green;
    cursor: pointer;
}

.roteiro-comprar:active{
    transition-duration: 0s;
    background-color: grey;
    transform: scale(0.9);
}