h2, h5 {
    color:darkgoldenrod;
}

.usada {
    color: purple;
    font-weight: bold;
}

.caixa {
    color: sandybrown ;
}

.Roupas {
    color: blue;
    font-weight: bold;
}

.alimentos {
    color: turquoise;
}

.moveis {
    color: blue;
    .usada{
        color: lime;
    }
}

.tipoMaterial{

}