.ol-vermelho {
    color: red;
    font-size: small;
}

.ol-preto {
    color: black;
    font-size: larger;
    font-weight: bold;
}

.ol-verde {
    color: lime;
    font-size: large;
}

.centro {
    text-align: center;
}