div{
    background-color: white;
    font-weight: bold;
    font-size: larger;
    border-style: solid;
    border-color: black;
    font-family: 'Open Sans', sans-serif;
}

.hdiv {
    height: 40px;
    border-style: none;
    border-radius: 0px;
    border-bottom: 5px solid red;
    padding-top: 10px;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    background-color: gold;
    border-radius: 15px;
}

.destaque {
    margin-bottom: 5px;
    text-align: center;
    border-radius: 20px;
}

.imagem {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}

.subText {
    font-size: medium;
}