<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="styleshet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display&family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>

<div id = "container">
  <app-header></app-header>
  <app-menu></app-menu>
  <app-noticias></app-noticias>
  <app-destaque></app-destaque>
  <app-servicos></app-servicos>
  <app-resultados></app-resultados>
  <app-footer></app-footer>
</div>
