div{
    background-color: white;
    font-weight: bold;
    font-size: larger;
    border-style: solid;
    border-color: black;
    font-family: 'Open Sans', sans-serif;
}

.hdiv {
    height: 40px;
    border-style: none;
    border-radius: 0px;
    border-bottom: 5px solid red;
    padding-top: 10px;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    background-color: gold;
    border-radius: 15px;
}

.resultados {
    grid-area: 3/3 / 4/6;
    border-radius: 20px;
}

.subText {
    font-size: medium;
}